
<div class="card col-md-fill mt-3 ml-2 text-white text-center form-inline" style="background-color: #c09d8b"><i class="fa fa-user" class="fa-2x"></i><strong><h2>Cuentas</h2></strong></div>
<div class="card-group">
  <div class="card col-md-2 mt-3  text-white text-center form-inline" style="background-color: #c09d8b"><strong><h5>BUSCAR CLIENTE</h5></strong>
    <div class="input-group" >
      <div class="input-group-prepend" >
        <div class="input-group-text"> <i class="fa fa-id-card	"></i></div>
      </div>
      <input style="border-top: white; border-right: white; "  type="text" class="form-control text-center"  style=" font-size: 1rem " name="id" [(ngModel)]="id" aria-describedby="folio" placeholder="198237821" >
      <div class="input-group-prepend">
        <div class="form-control" (click)="searchClient(id);"> <i class="fa fa-search"></i></div>
      </div>
    </div>
    <br>
  </div>
</div>

<div >
    <br><br>
    <div class="card-group" >
<div class="card" style="border-color: white;" >
</div>
<div class="card" style="border-color: white;" >
      <h5>Número de Cliente: {{ident}} </h5>
      <h5>Nombre: {{name}}</h5>
      <h5>CURP: {{curp}}</h5>
      <h5>Correo: {{email}}</h5>
      <h5>Dirección: {{address}}</h5>
    </div>
  </div>
<form class="form" #formGuardar="ngForm" (ngSubmit)="onSubmit(formGuardar)">
<div class="card-group" >
    <div class="card col-md-4" style="border-color: white;">
  <div class="card-header" >
    <h5><strong>Registro de nueva cuenta</strong></h5></div>
    <label>Tipo de cuenta</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background-color: #c09d8b; color: white"><i class="fa fa-money"></i></span>
      </div>
      <select class="form-control" name="accounts" [(ngModel)]="accounts">
        <option>Selecciona...</option>
          <option >Ahorro</option>
          <option >Nomina</option>
          <option >Credito</option>
      </select>
    </div>
    <div class="form-row ">
        <div class="col mx-auto">
          <label  f>Monto de apertura</label>
          <div class="input-group"  >
            <div class="input-group-prepend" >
              <div class="input-group-text"> <i class="fa fa-usd"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="number" class="form-control" name="mountA" [(ngModel)]="mountA"  required>
          </div>
          <label  f>Saldo Promedio</label>
          <div class="input-group" >
            <div class="input-group-prepend" >
              <div class="input-group-text"> <i class="fa fa-usd"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="number" class="form-control"  name="mountM" [(ngModel)]="mountM" required>
          </div>
        </div>
        <div class="col mx-auto">
          <label  f>Limite de Saldo</label>
          <div class="input-group" >
            <div class="input-group-prepend" >
              <div class="input-group-text"> <i class="fa fa-usd"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="number" class="form-control" name="mountL" [(ngModel)]="mountL" required>
          </div>
          <br><br>
          <button  type="submit" class=" btn-block mb-2" style="font-size: 1rem; color: #c09d8b" value="Guardar" ><strong>Guardar</strong></button>
        </div>
    </div>
    </div>
    <div style="border-color: white;" class="card col-md-fill">
        <ng2-smart-table  [settings]="settings" [source]="source"></ng2-smart-table>
    </div>
</div>
</form>
</div>
