<div class="card-group">
    <div class="card" style="width:800px; border-color: white;">
      <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img" src="https://i.ibb.co/QQMC5Fj/h-guia-sobre-open-banking.jpg" alt="Card image">
    </div>
    <div class="card" style="width:800px; border-color: white;">
      <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img-top" src="https://i.ibb.co/mvQskJB/fintech-wallet-neobanco-finanzas-wild-entrepreneur-dinero-digital-belvo-wild-entrepreneur-wild-entre.jpg" alt="Card image cap">
    </div>
    <div class="card" style="width:800px; border-color: white;">
      <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img" src="https://i.ibb.co/qxWNHTX/images.jpg" alt="Card image">
    </div>
  </div>
  <div class="card mx-auto">
  <h1 style="text-align: center;">Sisbank </h1>
  <h1 style="text-align: center;">El banco en tus manos </h1>
  </div>



